# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Figures and notebooks cache
figures/*.png
figures/*.pdf
*.ipynb_checkpoints

# Generated outputs
scripts/*/outputs/
orbits.npz
